a .tooltip {
  opacity: 0;

  @apply absolute bg-background rounded-md right-44 z-[1] top-[35%] px-3 py-1.5 border-2 border-text transition duration-500;
}

a:hover .tooltip {
  opacity: 1;
}

a .tooltip:hover {
  opacity: 0;
}
