a .tooltip {
    opacity: 0;
    z-index: 1;
    border-radius: 5px;
    right: 11em;
    top: 35%;

    @apply absolute bg-background px-2 py-1.5 border-2 border-text border-r-white transition duration-500;
}

a:hover .tooltip {
    opacity: 1;
}

a .tooltip:hover {
    opacity: 0;
}
